:root {
	--green: #e7ffde;
	--blue: #7acefc;
	--red: #f97570;
	--darkred: #fb4c45;
	--yellow: #fff2c6;
	--darkyellow: #edc15c;
	--black: #171717;
	--lightblack: #17171770;
}

#hoverbtn:hover {
	background-color: var(--darkred);
}

.textshadow {
	text-shadow: 0px 4px 4px #00000040;
}

.boxshadow {
	box-shadow: 0px 4px 4px #00000040;
}

.formshadow {
	box-shadow: 0px 5px 10px #00000040;
}

.stars {
	width: 70px;
	position: relative;
	transform-origin: center;
}

.star-1 {
	fill: var(--yellow);
	animation: grow 0.8s cubic-bezier(0.42, 0, 0.275, 1.155) backwards infinite;
	animation-delay: 1s;
	transform-origin: center center;
	margin-left: 10px;
}

.star-2 {
	fill: var(--yellow);
	animation: grow 0.8s cubic-bezier(0.42, 0, 0.275, 1.155) backwards infinite;
	animation-delay: 1.5s;
	transform-origin: center center;
	margin-left: 10px;
}

.star-3 {
	fill: var(--yellow);
	animation: grow 0.8s cubic-bezier(0.42, 0, 0.275, 1.155) backwards infinite;
	animation-delay: 2s;
	transform-origin: center center;
	margin-left: 10px;
}

@keyframes grow {
	0% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate3d(0, -10px, 0);
	}
}

.input::placeholder {
	visibility: hidden;
}

.label {
position: absolute;
top: 8px;
left: 8px;
font-size: 16px;
color: var(--lightblack);
}

.input:not(:placeholder-shown) + .label {
	position: absolute;
	top: -4px;
	left: 9px;
	font-size: 10px;
	transition: all .25s;
	color: black;
}